body {
    background-color:tan;
}

section {
    padding: 10px;
}

#buttons {
    background-color: tan;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.navButtons {
    width: 160px;
    height: 80px;
}

.navButtons:hover {
    background-color: purple;
    color: white;
}

#buttons:hover {
    background-color: white;
    border: 10px solid purple;
}

#clone {
    position:absolute;
    top:30%;
    left:10%;
}

#droid {
    position:absolute;
    top:30%;
    right:10%;
}

#cloneCount {
    background-color: darkblue;
    color: white;
    font-size: 30px;
    text-align: center;
}

#droidCount {
    background-color: darkred;
    color: white;
    font-size: 30px;
    text-align: center;
}

#math {
    position:absolute;
    top:50%;
    left:40%;
}

#response {
    height: 40px;
    font-size: 30px;
}